*
{
    margin: 0;
    padding: 0;
}

html,
body
{
    height: 100vh;
    font-family: 'Poppins', sans-serif;
    background: rgba(27, 27, 31);
}

.webgl
{
    position: fixed;
    top: 0;
    right: 0;
    outline: none;
}

.container{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    color: white;
    margin: 16em 8em;

   
}

.child{
    margin-top: 30%;
    left: 100px;
    position: relative;
}

h1{
    font-size:  4rem
    
}

p{
    font-size: 1.3rem;
    width: 55%;
    color: #6b6b7a;
    margin-top: 1em;
}

button{
    font-size:  1.3rem;
    padding: .5em 1em;
    margin-top: 2em;
    background-color: rgb(0, 114, 255);
    border: none;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
}